h1 {
    background: linear-gradient(to right, #1CCAD8, #2F97C1);
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.container-fluid {
    margin-left: -5px;
}

h2 {
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 8px;
}

#search-input {
    margin-bottom: 10px;
    padding: 6px 5px;
}

.btn {
    color: rgba(255, 255, 255, 0.816);
    font-weight: bold;
}

.list-group-item {
    background: rgb(192, 191, 191);
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
   overflow-wrap: break-word;
}

.list-group-item:hover {
    cursor: pointer;
    background: #1CCAD8;
}

#current-info {
    margin-left: 3px;
    line-height: 2.5;
}

#current-info h2 {
    display: flex;
    align-items: center;
    padding-bottom: 0px;
    margin-bottom: -10px;
}

h3 {
   font-size: 20px; 
   font-weight: bold;
   padding-top: 15px;
   padding-bottom: 8px;
}

.day {
    background: #587291;
    color: white;
    margin-left: 7px;
    line-height: 2.5;
}

.day img {
    height: auto;
    max-width: 40%;
}

@media (max-width: 1030px) {
    .day p {
        font-size: small;
    }
    .day {
        padding: 0px 5px;
    }
    .list-group-item {
        padding: 8px 5px;
    }
    form h2 {
        font-size: 22px;
    }
}

@media (max-width: 770px) {
    .day p {
        font-size: x-small;
    }
    .list-group-item {
        font-size: small;
    }
    form h2 {
        text-align: center;
    }
}

@media (max-width: 620px) {
    .day p {
        font-size: xx-small;
    }
    .list-group-item {
        font-size: x-small;
    }
}

@media (max-width: 530px) {
    .list-group-item {
        font-size: xx-small;
    }
    form h2 {
        font-size: 18px;
    }
    .btn {
        font-size: x-small;
    }
}